* {
    font-size: 14px;
    line-height: 1.428;
}

* {
    font-size: 16px;
    line-height: 2;
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url('../font/Poppins-ExtraLight.otf');
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #28548b!important;
}



div{
    font-family: Poppins-ExtraLight;
}
h1, h2, h3, h4, h5 {
    font-family: Poppins-ExtraLight;
}

a{
    font-family: Poppins-ExtraLight;
}


p{
    font-family: Poppins-ExtraLight;
}


span{
    font-family: Poppins-ExtraLight;
}

p{
    font-family: Poppins-ExtraLight;
}


#ul {
    list-style: none;
    text-align:center;
    font-family: Poppins-ExtraLight;
}


#li {
    float: left;
    text-align: center;
    padding: 2px;
    margin: 10px;
    font-family: Poppins-ExtraLight;

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #28548b;
}

@media (min-width: 0px) and (max-width: 600px){
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 18px;
        line-height: 20px;
    }
}



#li::before {
    background-color: #326e42;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 7px;
    width: 7px;
}

#ul2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 31px;
    margin-right: 20px;
    color: #28548b;
}

#ul2 .h2, #ul2 h2 {
    font-size: 21px;
}

#ul2 .h2, #ul2 h2 {
    font-size: 21px;
}

#text{
    font-size: 21px;
    text-align: justify;
    color: #28548B!important;
}
.title{
    color: #326E42;
    line-height: normal;
    font: normal normal normal 36px/1.4em barlow-medium,barlow,sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}

.title2{
    color: #326E42;
    line-height: normal;
    font: normal normal normal 26px/1.1em barlow-medium,barlow,sans-serif;
    font-weight: bold;
    letter-spacing: normal;

}